@font-face {
	font-family: 'Segoe-ui';
	src:
	url('../fonts/segoeui.ttf');
	src: local('☺'),
	url('../fonts/segoeui.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Segoe-ui-bold';
	src:
	url('../fonts/segoeuib.ttf');
	src: local('☺'),
	url('../fonts/segoeuib.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html, body {
  font-family: Segoe-Ui !important;
  //background-color: #333;
  //color : white;
}

h1,h2,h3,h4,h5 {
  font-family: segoe-ui-bold !important;
}
